.chrome
.circleci
.eslintcache
.github
.gitbook.yaml
.idea
.vscode
CHANGELOG.md
CONTRIBUTING.md
cypress
cypress.json
cypress-mochawesome.js
doc
ISSUE_TEMPLATE.md
package-scripts.js
screenshots
webpack.config.js

docs
website
index.ejs
react-project
react_project
favicon.ico
**/tsconfig.build.json
**/tsconfig.spec.json

# Lock & error files
npm-debug.log
yarn.lock
yarn-error.log

# Tests, Report & Coverage
.codecov.yml
**/__tests__/*.*
jest.conf.js
test/
**/*.spec.ts
**/node_modules
**/coverage
**/jest-coverage
**/mochawesome-report
**/*.tgz
**/junit.xml
**/test-report.xml
**/testresult.xml

# code editor & linter
.env
.editorconfig
.eslintignore
.eslintrc
.hintrc
.release-it.json
